<section class="about" id="about">
    <div class="about-marquee">
        <app-marquee text="about"></app-marquee>
    </div>
    
    <img src="/men.jpg" alt="">
    <img src="/woman.jpg" alt="">

    <p>
        skskalkslklaslsajsijsiajiawjsjajw <br>
        swjaoiwsjawoijsoiajwsjjawjsjas <br>
        awjsoiwjsajjwsajwsasoiajsjaoi
    </p>

    <br>

    <p>
        skskalkslklaslsajsijsiajiawjsjajw <br>
        swjaoiwsjawoijsoiajwsjjawjsjas <br>
        awjsoiwjsajjwsajwsasoiajsjaoi
    </p>
</section>