<section class="news" id="news">
  <h2 class="title blue">News</h2>
  <div class="wrapper">
    <article class="item">
      <picture><img src="" alt=""></picture>
      <div class="info">
        <p class="name blue">Coisa e Tal</p>
        <p class="price blue">€99,99</p>
      </div>
    </article>
    <article class="item">
      <picture><img src="" alt=""></picture>
      <div class="info">
        <p class="name blue">Coisa e Tal</p>
        <p class="price blue">€99,99</p>
      </div>
    </article>
    <article class="item">
      <picture><img src="" alt=""></picture>
      <div class="info">
        <p class="name blue">Coisa e Tal</p>
        <p class="price blue">€99,99</p>
      </div>
    </article>
    <article class="item">
      <picture><img src="" alt=""></picture>
      <div class="info">
        <p class="name blue">Coisa e Tal</p>
        <p class="price blue">€99,99</p>
      </div>
    </article>
  </div>
</section>