.hero{
    position: relative;
    
    // width: 100vw;
    padding-top: 0;
    height: 72vw;
    // max-height: 100vh;
    background: url("/heroBackground.jpg") no-repeat center/cover;
}


.hero-card{
    padding: 2.604vw 0 0 3.073vw;
    background-color: var(--color-green);
    width: 28.854vw;
    height: 26.615vw;

    position: absolute;
    bottom: 2.5vw;
}
.hero-card p{
    margin-top: 2.396vw;
    color: var(--color-blue);
}

.hero-marquee{
    margin-top: 11.875vw;
}