<section class="hero" id="hero">
   <div class="hero-container">
    <div class="hero-marquee">
        <app-marquee text="ballence"></app-marquee>
    </div>
    
        <div class="hero-card">
            <h3>
                become <br>
                the future
            </h3>
            <p>
                skskalkslklaslsajsijsiajiawjsjajw <br>
                swjaoiwsjawoijsoiajwsjjawjsjas <br>
                awjsoiwjsajjwsajwsasoiajsjaoi
            </p>
            <app-button></app-button>
        </div>
   </div>
</section>
